@model aplicacionraiz2022postgress.Models.Contacto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="name" />
            <input type="hidden" asp-for="email" />
            <input type="hidden" asp-for="numero" />
            <input type="hidden" asp-for="subject" />
            <input type="hidden" asp-for="comment" />
            <p>--------------------------</p>
               <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <br>
                <br>
                <input asp-for="Status" type="radio" value="RESUELTO">
                <label asp-for="Status" for="html">RESUELTO</label><br>
                <br>
                <input asp-for="Status" type="radio" value="SIN_RESOLVER">
                <label asp-for="Status" for="html">SIN_RESOLVER</label><br>
                <br>
                <input asp-for="Status" type="radio" value="PENDIENTE">
                <label asp-for="Status" for="html">PENDIENTE</label><br>
                <br>
            </div>
            <p>--------------------------</p>
           
             <div class="form-group">
                <label asp-for="AnotacionAdmin" class="control-label"></label>
                <input asp-for="AnotacionAdmin" class="form-control" />
                <span asp-validation-for="AnotacionAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Indexadmin">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}