@model aplicacionraiz2022postgress.Models.Contacto

@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h2 class="display-4">Contacto</h2>

    <form asp-controller="Contacto" asp-action="Create">
        <label asp-for="name" class="form-label">Nombre</label>
        <input asp-for="name" id="name" class="form-control form-control-sm" type="text" placeholder="Escribe un Nombre" aria-label=".form-control-sm" id="myText"/>
        <br>
        <label asp-for="email" class="control-label">Correo</label>
        <input asp-for="email" type="email" class="form-control" placeholder="Escribe tu Correo" id="myText"/>
        <br>
        <label asp-for="numero" class="control-label">Numero</label>
        <input type="number" asp-for="numero" class="form-control" Placeholder="Escribe tu Numero" id="myText"/>
        <br>
        <label asp-for="subject" class="control-label">Asunto</label>
        <input asp-for="subject" class="form-control" Placeholder="Escribe tu Asunto" id="myText"/>
        <br>
        <label asp-for="comment" class="control-label">Comentario</label>
        <input asp-for="comment" class="form-control" Placeholder="Escribe tu Comentario" />
        <br>
        <br>
        <div class="form-group">
        <button type="submit" class="btn btn-primary" id="start_button">Enviar</button> 
        </div>              
    </form>
    <h1>@ViewData["Message"]</h1>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Index">Regresar al inicio</a>
    </div>
</div>
