@model aplicacionraiz2022postgress.Models.Pago

@{
    ViewData["Title"] = "Pago";
}

<h1>@ViewData["Title"]</h1>

    <div class="container">

        <div class="row">
          <div class="col-sm-10 mt-5">
           <form asp-controller="Pago" asp-action="Pagar">
              <div class="form-group row">
                <input type="hidden" asp-for="UserID"/>
                <div class="col-sm-2">
                  <label asp-for="NombreTarjeta" class="control-label">Nombre del dueño</label>
                </div>
                <div class="col-sm-4">
                  <input asp-for="NombreTarjeta" placeholder="Nombre del dueño" class="form-control" />
                </div>
              </div>
              <br>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="NumeroTarjeta" class="control-label">Numero de Tarjeta</label>
                </div>
                <div class="col-sm-4">
                  <input asp-for="NumeroTarjeta" type="number" class="form-control" placeholder="xxxx-xxxx-xxxx-xxxx" data-inputmask="'mask': '9999-9999-9999-9999'" />
                </div>
              </div>       
              <br>       
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="DueDateYYMM" class="control-label">Vencimiento</label>
                </div>
                <div class="col-sm-4">
                  <input asp-for="DueDateYYMM" placeholder="MM/YY" class="form-control" data-inputmask="'mask': '99/99', 'placeholder': 'yy/mm'" />
                </div>
              </div>
              <br>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="Cvv" class="control-label"></label>
                </div>
                <div class="col-sm-4">
                  <input asp-for="Cvv"  type="number" placeholder="xxx" class="form-control" data-inputmask="'mask': '999', 'placeholder': '999'" />
                </div>
              </div>
              <br>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="MontoTotal" class="control-label">Monto Total</label>
                </div>
                <div class="col-sm-4">
                  <input type="look" asp-for="MontoTotal" class="form-control" data-thousands="," data-decimal="." readonly/>
                </div>
              </div> 
              <br> 
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-primary">Pagar</button> 
                </div>
              </div>
            </form>
            <h1>@ViewData["Message"]</h1>
          </div>
        </div>
    </div