@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmacion";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <h3>Por favor</h3> <h1><a id="confirm-link" href="@Model.EmailConfirmationUrl">HAGA CLICK AQUI PARA CONFIRMAR LA CREACION DE SU CUENTA</a></h1>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

