@{
    ViewData["Title"] = "Home Page";
}
</div>
    <img class="img-responsive" src="https://alibaba2022ii9976.blob.core.windows.net/img/imagen.jpg" alt="https://alibaba2022ii9976.blob.core.windows.net/img/31.png"  style="max-width: 100%; height: auto;margin:0"/>
<br>
<br>
<div class="container">
<h1>OFERTAS</h1>
</div>
<br>
</b>
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://alibaba2022ii9976.blob.core.windows.net/img/oferta1.webp" class="d-block w-100" alt="..." style="height:450px">
    </div>
    <div class="carousel-item">
      <img src="https://alibaba2022ii9976.blob.core.windows.net/img/oferta2.jpg" class="d-block w-100" alt="..." style="height:450px">
    </div>
    <div class="carousel-item">
      <img src="https://alibaba2022ii9976.blob.core.windows.net/img/oferta3.jfif" class="d-block w-100" alt="..." style="height:450px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<div class="container">
<h1>CLASIFICACION</h1>
</div>
<br>
<div class="row">
    <div class="col-md-3" align="center">
    <a href="">
    <img src='https://alibaba2022ii9976.blob.core.windows.net/img/dormitorio.jpg' class='imgRedonda' style="height:100px;width:100px;;border-radius: 150px;"/>
    <br>
    DORMITORIO
    </a>
    
    </div>
    <div class="col-md-3" align="center">
    <a href="">
    <img src='https://alibaba2022ii9976.blob.core.windows.net/img/escritorio.png' class='imgRedonda' style="height:100px;width:100px;;border-radius: 150px;"/>
    <br>
    ESCRITORIO        
    </a>

    </div>
    <div class="col-md-3" align="center">
    <a href="">
    <img src='https://alibaba2022ii9976.blob.core.windows.net/img/salas.jpg' class='imgRedonda' style="height:100px;width:100px;;border-radius: 150px;"/>
    <br>
    SALAS        
    </a>

    </div>
    <div class="col-md-3" align="center">
    <a href="">
    <img src='https://alibaba2022ii9976.blob.core.windows.net/img/adornos.jpg' class='imgRedonda' style="height:100px;width:100px;;border-radius: 150px;"/>
    <br>
    ADORNOS        
    </a>

    </div>
</div>







</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

