<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/aplicacionraiz2022postgress/wwwroot/css/site.css">
    <script type="module" src="/aplicacionraiz2022postgress/wwwroot/js/site.js"></script>
    <style>
        .viewer{
            width:100%;
            height:90vh;
        }
    </style>

    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="btn-modal">
                      <label for="btn-modal" class="lbl-modal" >Imagen 3D</label>
                      <div class="modal">
                        <div class="contenedor">
                          <header>Mesa</header>
                          <label for="btn-modal">X</label>
                          <div class="contenido">
                            <h5 class="card-title">@Html.DisplayFor(model => model.Image3D)</h5>
                            <model-viewer  class="viewer" enable-pan src="mesa.glb"  ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1">
                                <div class="progress-bar hide" slot="progress-bar">
                                    <div class="update-bar"></div>
                                </div>
                            </model-viewer>
                          </div>
                        </div>
                      </div>

</body>
</html>
